#!/bin/sh

exec consul-template \
     -consul=consul:8500 \
     -template "/etc/consul-templates/varnish.ctmpl:/etc/varnish/varnish.conf:sv hup varnish"
